.loading-container {
  padding: 0 1rem;
  background-color: transparent;
  height: calc(100vh - 64px);
}

.loading-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loadingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 0.75rem;
  gap: 1rem;
}

.loadingSelect {
  width: 150px;
  height: 36px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
}

.loadingButton {
  width: 80px;
  height: 38px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .loading-container {
    padding: 3.6rem 0.7rem 0;
  }

  .loadingHeader {
    padding: 0 0;
    gap: 0.5rem;
  }

  .loadingHeader {
    padding: 0;
    gap: 0.5rem;
  }

  .loadingSelect {
    padding: 6px 0;
    font-size: 0.75rem;
    width: 120px;
    height: 1rem;
  }

  .loadingButton {
    padding: 8px 16px;
    font-size: 13px;
    width: 22px;
    height: 1rem;
  }
}
