.navLink {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: #d1d5db;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
}

.navLink.active {
  font-weight: 700;
  font-size: 1.25rem;
  opacity: 1;
}
/* 모바일 반응형 */
@media (max-width: 768px) {
  .navLink {
    padding: 6px 12px;
    font-size: 1rem;
    opacity: 0.5;
  }
}
